@import '~antd/dist/antd.css';

.benchmark-fixed-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.benchmark-content { 
  padding: 84px 16px 0px 16px;
  min-height: 280px;
}

.benchmark-language-bar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 64px;  
}